<%= turbo_frame_tag "new_dummy_form" do %>
  <div data-controller="edit">
    <div data-edit-target="form">
      <h1 class="page-title">New Dummy</h1>    
        <%= render Cards::DummyFormComponent.new(dummy: @dummy) %>    
    </div>
  </div>
<% end %>
