<!-- not visible without an [open] attribute, which **Turbo-Confirm** will handle for you -->
<dialog id="confirm" class="modal">
  <div class="modal-box modal__content">
    <h3 id="confirm-title" class="font-bold text-lg">Hello!</h3>
    <div id="confirm-body">
      <p>Default confirm message.</p>
      <p>Optionally replaced by `data-confirm-details` attribute</p>
    </div>
    <div class="modal-actions modal-action">
      <button class="confirm-cancel btn btn-error">Cancel</button>
      <button id="confirm-accept" class="btn btn-success">Yes, I'm Sure</button>
    </div>
  </div>
</dialog>